

<div class="flex items-center justify-center h-screen relative">
 <img src="assets/images/bg-image2.jpg" class="h-full w-full" alt="">
  <div class="text-center border rounded-lg drop-shadow bg-white py-16 px-8 absolute ">
    <!-- Your content here -->
    <p class="font-bold text-xl text-blue-400">Agent Login</p>
    <div class="mt-12">
      <input type="text" placeholder="Name" class="rounded p-1 outline-none">
     
    </div>
    <div class="mt-4">
      <input type="password" placeholder="Password" class="rounded p-1 outline-none">
     
    </div>
<div>
  <button class="w-full bg-blue-300 mt-8 rounded text-white font-semibold py-1">Submit</button>
</div>
  </div>
</div>
